workflows/AI-powered news monitoring & social post generator with OpenAI and Upload-Post.json
{"updatedAt":"2026-02-12T08:08:03.505Z","createdAt":"2026-02-12T08:03:49.136Z","id":"YHDRO3reLVlakqN_59Nmu","name":"AI-powered news monitoring & social post generator with OpenAI and Upload-Post","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"**Fetch**\n- RSS Feed Trigger","height":448,"width":192},"id":"44b1be4e-ab53-479f-b5fe-9a61c896f812","name":"Section: Fetch Articles","type":"n8n-nodes-base.stickyNote","position":[-1696,176],"typeVersion":1},{"parameters":{"content":"**Analyze & Score**\n- OpenAI Chat Model (Scoring)\n- Scoring AI","height":448,"width":344},"id":"0b5be9b0-b2ca-4bab-b2c9-69dfa130ee38","name":"Section: Analyze & Score","type":"n8n-nodes-base.stickyNote","position":[-736,272],"typeVersion":1},{"parameters":{"content":"**Parse & Enrich**\n- Parse Scoring AI JSON","height":416,"width":176},"id":"de9179ca-8b45-476a-be82-68ddf7e2f262","name":"Section: Parse & Enrich","type":"n8n-nodes-base.stickyNote","position":[368,0],"typeVersion":1},{"parameters":{"content":"**Route**\n- Quality Gate\n- Review vs Archive Filter","height":448,"width":400},"id":"1389fb24-89ca-4856-a451-102ec07d5ff6","name":"Section: Route","type":"n8n-nodes-base.stickyNote","position":[-400,272],"typeVersion":1},{"parameters":{"content":"**Content Generation**\n- OpenAI Chat Model (Content)\n- Content Generation AI\n- Parse Content AI JSON","height":416,"width":380},"id":"f24fbfbf-d81d-449d-81ba-43766c3f8ca7","name":"Section: Content Generation","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"**Store & Publish**\n- Store Content (Google Sheets)\n- Publish to X, Threads, and LinkedIn","height":416,"width":312},"id":"482113e6-a8f6-44cf-8e56-da95716fe3f1","name":"Section: Store & Publish","type":"n8n-nodes-base.stickyNote","position":[544,0],"typeVersion":1},{"parameters":{"content":"**Review & Archive**\n- New for Review (Sheet)\n- Archive (Sheet)","height":336,"width":360},"id":"6b40dc80-3fd1-40b8-aea4-d40b3aa3f66b","name":"Section: Review & Archive","type":"n8n-nodes-base.stickyNote","position":[0,416],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":1}]},"feedUrl":"https://morss.it/https://techcrunch.com/feed/"},"id":"1d081cdc-64a4-4615-be07-7a82197bc592","name":"RSS Feed Trigger","type":"n8n-nodes-base.rssFeedReadTrigger","position":[-1648,272],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"options":{}},"id":"d5951e56-d0d3-487f-af53-ba41023ca1f0","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-688,560],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"zTUp3nm8E2hEL6BR","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Parse AI Agent JSON response\nconst items = $input.all();\nconst parsedItems = [];\n\nfor (const item of items) {\n  const rawResponse = item.json.output;\n  \n  try {\n    // Clean up escaped characters and parse the JSON response from AI\n    const cleanedResponse = rawResponse.replace(/\\\\n/g, '').replace(/\\\\/g, '');\n    const aiAnalysis = JSON.parse(cleanedResponse);\n    \n    // Handle key_topics - it might be a string or array\n    let topicsString = \"\";\n    if (Array.isArray(aiAnalysis.key_topics)) {\n      topicsString = aiAnalysis.key_topics.join(\", \");\n    } else if (typeof aiAnalysis.key_topics === 'string') {\n      topicsString = aiAnalysis.key_topics;\n    }\n    \n    // Combine original article data with parsed AI analysis\n    parsedItems.push({\n      json: {\n        // Original article data\n        title: $node[\"RSS Feed Trigger\"].json.title,\n        link: $node[\"RSS Feed Trigger\"].json.link,\n        pubDate: $node[\"RSS Feed Trigger\"].json.pubDate,\n        content: $node[\"RSS Feed Trigger\"].json['content:encoded'],\n        \n        // Parsed AI analysis\n        quality_score: aiAnalysis.quality_score || 5,\n        relevance_score: aiAnalysis.relevance_score || 5,\n        key_topics: topicsString,\n        summary: aiAnalysis.summary || \"No summary provided\",\n        content_angle: aiAnalysis.content_angle || \"No angle provided\",\n        action: aiAnalysis.action || \"REVIEW\"\n      }\n    });\n    \n  } catch (error) {\n    // Handle parsing errors gracefully\n    console.log(\"Parsing error:\", error.message);\n    console.log(\"Raw response:\", rawResponse);\n    \n    parsedItems.push({\n      json: {\n        title: $node[\"RSS Feed Trigger\"].json.title,\n        link: $node[\"RSS Feed Trigger\"].json.link,\n        pubDate: $node[\"RSS Feed Trigger\"].json.pubDate,\n        content: $node[\"RSS Feed Trigger\"].json['content:encoded'],\n        quality_score: 5,\n        relevance_score: 5,\n        key_topics: \"Parse Error\",\n        summary: \"AI response could not be parsed: \" + error.message,\n        content_angle: \"Manual review needed\",\n        action: \"REVIEW\"\n      }\n    });\n  }\n}\n\nreturn parsedItems;"},"id":"4f7780f2-329a-431b-a1ba-a238bb4883c3","name":"Code","type":"n8n-nodes-base.code","position":[-352,384],"typeVersion":2},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}"},"id":"fb1483c0-6856-4f15-9bbe-72c1ed975af1","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-576,576],"typeVersion":1.3},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"id":"c0015ef9-1edb-4120-8c08-1894acd9f884","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[128,288],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"zTUp3nm8E2hEL6BR","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Parse content creation AI response\nconst items = $input.all();\nconst contentItems = [];\n\nfor (const item of items) {\n  try {\n    const rawResponse = item.json.output;\n    const cleanedResponse = rawResponse.replace(/\\\\\\\\n/g, '').replace(/\\\\\\\\/g, '');\n    const contentData = JSON.parse(cleanedResponse);\n\n    // Get the original article data\n    const originalData = $node[\"Code\"].json; // Reference our enhanced parsing node\n\n    contentItems.push({\n      json: {\n        // Original article info\n        title: originalData.title,\n        link: originalData.link,\n        quality_score: originalData.quality_score,\n        relevance_score: originalData.relevance_score,\n        summary: originalData.summary,\n\n        // Generated content\n        twitter_thread: contentData.twitter || [],\n        linkedin_post: contentData.linkedin_post || \"Content generation failed\",\n        content_ready: contentData.content_ready || false,\n\n        // Metadata\n        created_at: new Date().toISOString(),\n        platform_ready: true\n      }\n    });\n\n  } catch (error) {\n    // Handle parsing errors\n    contentItems.push({\n      json: {\n        title: $node[\"Code\"].json.title,\n        link: $node[\"Code\"].json.link,\n        twitter_thread: [\"Content generation failed\"],\n        linkedin_post: \"Content generation failed: \" + error.message,\n        content_ready: false,\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn contentItems;\n"},"id":"a3f35687-c89b-493d-a821-b066e1bd4603","name":"Code1","type":"n8n-nodes-base.code","position":[400,112],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","link":"={{ $json.link }}","quality_score":"={{ $json.quality_score }}","relevance_score":"={{ $json.relevance_score }}","summary":"={{ $json.summary }}","twitter_thread":"={{ $json.twitter_thread }}","linkedin_post":"={{ $json.linkedin_post }}","content_ready":"={{ $json.content_ready }}","created_at":"={{ $json.created_at }}","platform_ready":"={{ $json.platform_ready }}","published_for_x":"FALSE","published_for_linkedin":"FALSE"},"matchingColumns":[],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"relevance_score","displayName":"relevance_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitter_thread","displayName":"twitter_thread","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_post","displayName":"linkedin_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content_ready","displayName":"content_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"platform_ready","displayName":"platform_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"published_for_x","displayName":"published_for_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"published_for_linkedin","displayName":"published_for_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"3e3adad8-ec63-4713-9a3e-ae09947e35f2","name":"Store Content","type":"n8n-nodes-base.googleSheets","position":[624,112],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"list","value":1806686957,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qlgo9kKDnD6j7GZ6AhKD3EVbFyQu6MfGNEsNCz9lizg/edit#gid=1806686957","cachedResultName":"For Review"},"columns":{"value":{"Link":"={{ $json.link }}","Title":"={{ $json.title }}","Summary":"={{ $json.summary }}","Pub Date":"={{ $json.pubDate }}","Content Angle":"={{ $json.content_angle }}","Quality Score":"={{ $json.quality_score }}","Relevance Score":"={{ $json.relevance_score }}"},"schema":[{"id":"Title","type":"string","display":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Link","type":"string","display":true,"required":false,"displayName":"Link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Pub Date","type":"string","display":true,"required":false,"displayName":"Pub Date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Quality Score","type":"string","display":true,"required":false,"displayName":"Quality Score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Relevance Score","type":"string","display":true,"required":false,"displayName":"Relevance Score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Summary","type":"string","display":true,"required":false,"displayName":"Summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Content Angle","type":"string","display":true,"required":false,"displayName":"Content Angle","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Reviewer","type":"string","display":true,"required":false,"displayName":"Reviewer","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Notes","type":"string","display":true,"required":false,"displayName":"Notes","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"31c49b6d-8f61-4ea9-b0b1-a3e6ee2c0d47","name":"New for Review","type":"n8n-nodes-base.googleSheets","position":[256,448],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1dNLv9xtTH0TSgs8MNmSCB7yZwgPmimXCPT6OngYWZmo","mode":"list","cachedResultName":"Tech Archive","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dNLv9xtTH0TSgs8MNmSCB7yZwgPmimXCPT6OngYWZmo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dNLv9xtTH0TSgs8MNmSCB7yZwgPmimXCPT6OngYWZmo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","link":"={{ $json.link }}","pubDate":"={{ $json.pubDate }}","quality_score":"={{ $json.content }}","relevance_score":"={{ $json.relevance_score }}","key_topics":"={{ $json.key_topics }}","summary":"={{ $json.summary }}","content_angle":"={{ $json.content_angle }}","action":"={{ $json.action }}"},"matchingColumns":[],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pubDate","displayName":"pubDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"relevance_score","displayName":"relevance_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"key_topics","displayName":"key_topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content_angle","displayName":"content_angle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"facb4fa5-9a14-45b2-b54d-6f88e62c779e","name":"Archive","type":"n8n-nodes-base.googleSheets","position":[256,608],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Create social media content for this article:\n\nTitle: {{ $('Quality Filter').item.json.title }}\nSummary: {{ $('Quality Filter').item.json.summary }}\nSuggested Angle: {{ $('Quality Filter').item.json.content_angle }}\nLink: {{ $('Quality Filter').item.json.link }}\n\nArticle scored {{ $('Quality Filter').item.json.quality_score }}/10 for quality and {{ $('Quality Filter').item.json.relevance_score }}/10 for relevance.\n","options":{"systemMessage":"={{ $json.content }}"}},"id":"1ef047b7-a3af-4270-82db-6b57f7215b04","name":"Content AI","type":"@n8n/n8n-nodes-langchain.agent","position":[128,128],"typeVersion":2.2},{"parameters":{"promptType":"define","text":"=Analyze this article: {{ $('RSS Feed Trigger').item.json.title }} - {{ $('RSS Feed Trigger').item.json['content:encoded'] }}","options":{"systemMessage":"={{ $json.content }}"}},"id":"015e816f-fe52-4406-b790-9552ebc1932d","name":"Scoring AI","type":"@n8n/n8n-nodes-langchain.agent","position":[-688,384],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2588090c-6a4a-4609-a8f8-1c7e3cbdda12","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.quality_score }}","rightValue":4}]},"options":{}},"id":"f76a6d9c-fd37-4f94-9db8-ee5aede6a738","name":"Quality Filter","type":"n8n-nodes-base.if","position":[-128,384],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c488b7fd-18a5-432d-af06-7a9748db4778","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $json.quality_score }}","rightValue":5}]},"options":{}},"id":"b6074e14-2bd6-4f60-8a15-05d8b6885eb6","name":"Quality Filter 2","type":"n8n-nodes-base.if","position":[32,560],"typeVersion":2.2},{"parameters":{"content":"**Automated Content Curation & Creation**\n\n**How it works:**\n1.  **Fetch:** Reads new articles from an RSS feed.\n2.  **Analyze & Score:** An AI agent evaluates each article for quality and relevance.\n3.  **Route:**\n    *   **High-Quality:** Automatically generates a Twitter thread and a LinkedIn post. The content is then stored in a Google Sheet and published.\n    *   **Medium-Quality:** Adds the article to a Google Sheet for manual review.\n    *   **Low-Quality:** Archives the article link for reference.\n4.  **Publish:** Posts the generated content to Twitter, LinkedIn, and Threads.\n\n**Setup:**\n*   **RSS Feed:** Configure the `RSS Feed Trigger` with your desired news source.\n*   **OpenAI:** Add your OpenAI API credentials to the `OpenAI Chat Model` nodes.\n*   **Google Sheets:** Authenticate your Google account in the `Store Content`, `New for Review`, and `Archive` nodes. Update the Sheet IDs and names.\n*   **Upload Post (Social Media Publishing):**\n    1.  **Account:** Go to `https://app.upload-post.com`, create an account, and connect your social media profiles (X/Twitter, LinkedIn, Threads, etc.).\n    2.  **API Token:** In your Upload-Post dashboard, generate an API token.\n    3.  **n8n Credentials:** In the `Upload to Twitter,Linkedin and Threads` node, click on \"Credential\" and select \"Create New\". Paste the API token you generated in the previous step.\n    4.  **LinkedIn Page ID (Optional):** If you want to post to a company page on LinkedIn, find your Page ID (e.g., `urn:li:organization:12345678`) and enter it in the `Target Linkedin Page Id` field. Otherwise, it will post to your personal profile.","height":1008,"width":320},"id":"eb5d3e30-4bf7-4c27-b937-9711bb06cdef","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-2016,32],"typeVersion":1},{"parameters":{"text":"={{ $json.twitter_thread }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1136,112],"id":"5bc45ccd-38be-4c1c-bd1f-26bc9fd79c59","name":"Create Tweet","credentials":{"twitterOAuth2Api":{"id":"grBbfzVNxs17JfWG","name":"X account"}}},{"parameters":{"person":"9AzW9AXqqk","text":"={{ $json.linkedin_post }}","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1184,368],"id":"c3819c66-9761-477a-8b85-8fb58e71a636","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"Q3lxTYl1n1naRZpQ","name":"LinkedIn account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"link":"={{ $('Filter').item.json.link }}","published_for_x":"TRUE"},"matchingColumns":["link"],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"relevance_score","displayName":"relevance_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"twitter_thread","displayName":"twitter_thread","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post","displayName":"linkedin_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content_ready","displayName":"content_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"platform_ready","displayName":"platform_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"published_for_x","displayName":"published_for_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"published_for_linkedin","displayName":"published_for_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1328,112],"id":"4c33adbc-61f4-44f3-8b66-a5ea4b235e63","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8f0a5191-a2e9-4b2e-b2ee-736f19f30d3b","leftValue":"={{ $json.published_for_x }}","rightValue":"FALSE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[912,112],"id":"878684f7-0ca7-4628-bf73-aa81aa9b0406","name":"Filter"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1ZcurkRJK8NSC0tSXCwmPW_lzm4Ic4v8jO_EFxNTsrfY/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-976,384],"id":"1d9c0fa1-67ff-426d-acbe-b4810411547e","name":"Analyze and Score prompt","credentials":{"googleDocsOAuth2Api":{"id":"p9mRsRBCqE7MToqV","name":"Google Docs account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1xIKDGFJGo9AB0Q-zeZ2sMI-n-swBosJ2LARi7JWLCnc/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-16,192],"id":"06f8b2ac-fadf-43f6-93cf-24ba9db538c9","name":"Post Creator prompt","credentials":{"googleDocsOAuth2Api":{"id":"p9mRsRBCqE7MToqV","name":"Google Docs account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1616,576],"id":"bb437848-66dd-4f75-b5d9-cae09d5737ba","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"link","field2":"link"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[-1360,352],"id":"1a3ee4d4-09ac-45df-805a-88cb03c73e57","name":"Compare Datasets"}],"connections":{"Code":{"main":[[{"node":"Quality Filter","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Store Content","type":"main","index":0}]]},"Content AI":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Scoring AI":{"main":[[{"node":"Code","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Scoring AI","type":"ai_memory","index":0}]]},"Quality Filter":{"main":[[{"node":"Post Creator prompt","type":"main","index":0}],[{"node":"Quality Filter 2","type":"main","index":0}]]},"Quality Filter 2":{"main":[[{"node":"New for Review","type":"main","index":0}],[{"node":"Archive","type":"main","index":0}]]},"RSS Feed Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Compare Datasets","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Scoring AI","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Content AI","type":"ai_languageModel","index":0}]]},"Store Content":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Create Tweet":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Create Tweet","type":"main","index":0}]]},"Analyze and Score prompt":{"main":[[{"node":"Scoring AI","type":"main","index":0}]]},"Post Creator prompt":{"main":[[{"node":"Content AI","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Compare Datasets":{"main":[[{"node":"Analyze and Score prompt","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f53fbce0-3e48-4d28-82a6-ea160e721224","activeVersionId":"f53fbce0-3e48-4d28-82a6-ea160e721224","triggerCount":1,"shared":[{"updatedAt":"2026-02-12T08:03:49.141Z","createdAt":"2026-02-12T08:03:49.141Z","role":"workflow:owner","workflowId":"YHDRO3reLVlakqN_59Nmu","projectId":"48ahaqGoMAU5KdE0"}],"activeVersion":{"updatedAt":"2026-02-12T08:34:57.000Z","createdAt":"2026-02-12T08:08:03.506Z","versionId":"f53fbce0-3e48-4d28-82a6-ea160e721224","workflowId":"YHDRO3reLVlakqN_59Nmu","nodes":[{"parameters":{"content":"**Fetch**\n- RSS Feed Trigger","height":448,"width":192},"id":"44b1be4e-ab53-479f-b5fe-9a61c896f812","name":"Section: Fetch Articles","type":"n8n-nodes-base.stickyNote","position":[-1696,176],"typeVersion":1},{"parameters":{"content":"**Analyze & Score**\n- OpenAI Chat Model (Scoring)\n- Scoring AI","height":448,"width":344},"id":"0b5be9b0-b2ca-4bab-b2c9-69dfa130ee38","name":"Section: Analyze & Score","type":"n8n-nodes-base.stickyNote","position":[-736,272],"typeVersion":1},{"parameters":{"content":"**Parse & Enrich**\n- Parse Scoring AI JSON","height":416,"width":176},"id":"de9179ca-8b45-476a-be82-68ddf7e2f262","name":"Section: Parse & Enrich","type":"n8n-nodes-base.stickyNote","position":[368,0],"typeVersion":1},{"parameters":{"content":"**Route**\n- Quality Gate\n- Review vs Archive Filter","height":448,"width":400},"id":"1389fb24-89ca-4856-a451-102ec07d5ff6","name":"Section: Route","type":"n8n-nodes-base.stickyNote","position":[-400,272],"typeVersion":1},{"parameters":{"content":"**Content Generation**\n- OpenAI Chat Model (Content)\n- Content Generation AI\n- Parse Content AI JSON","height":416,"width":380},"id":"f24fbfbf-d81d-449d-81ba-43766c3f8ca7","name":"Section: Content Generation","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"**Store & Publish**\n- Store Content (Google Sheets)\n- Publish to X, Threads, and LinkedIn","height":416,"width":312},"id":"482113e6-a8f6-44cf-8e56-da95716fe3f1","name":"Section: Store & Publish","type":"n8n-nodes-base.stickyNote","position":[544,0],"typeVersion":1},{"parameters":{"content":"**Review & Archive**\n- New for Review (Sheet)\n- Archive (Sheet)","height":336,"width":360},"id":"6b40dc80-3fd1-40b8-aea4-d40b3aa3f66b","name":"Section: Review & Archive","type":"n8n-nodes-base.stickyNote","position":[0,416],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":1}]},"feedUrl":"https://morss.it/https://techcrunch.com/feed/"},"id":"1d081cdc-64a4-4615-be07-7a82197bc592","name":"RSS Feed Trigger","type":"n8n-nodes-base.rssFeedReadTrigger","position":[-1648,272],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"options":{}},"id":"d5951e56-d0d3-487f-af53-ba41023ca1f0","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-688,560],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"zTUp3nm8E2hEL6BR","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Parse AI Agent JSON response\nconst items = $input.all();\nconst parsedItems = [];\n\nfor (const item of items) {\n  const rawResponse = item.json.output;\n  \n  try {\n    // Clean up escaped characters and parse the JSON response from AI\n    const cleanedResponse = rawResponse.replace(/\\\\n/g, '').replace(/\\\\/g, '');\n    const aiAnalysis = JSON.parse(cleanedResponse);\n    \n    // Handle key_topics - it might be a string or array\n    let topicsString = \"\";\n    if (Array.isArray(aiAnalysis.key_topics)) {\n      topicsString = aiAnalysis.key_topics.join(\", \");\n    } else if (typeof aiAnalysis.key_topics === 'string') {\n      topicsString = aiAnalysis.key_topics;\n    }\n    \n    // Combine original article data with parsed AI analysis\n    parsedItems.push({\n      json: {\n        // Original article data\n        title: $node[\"RSS Feed Trigger\"].json.title,\n        link: $node[\"RSS Feed Trigger\"].json.link,\n        pubDate: $node[\"RSS Feed Trigger\"].json.pubDate,\n        content: $node[\"RSS Feed Trigger\"].json['content:encoded'],\n        \n        // Parsed AI analysis\n        quality_score: aiAnalysis.quality_score || 5,\n        relevance_score: aiAnalysis.relevance_score || 5,\n        key_topics: topicsString,\n        summary: aiAnalysis.summary || \"No summary provided\",\n        content_angle: aiAnalysis.content_angle || \"No angle provided\",\n        action: aiAnalysis.action || \"REVIEW\"\n      }\n    });\n    \n  } catch (error) {\n    // Handle parsing errors gracefully\n    console.log(\"Parsing error:\", error.message);\n    console.log(\"Raw response:\", rawResponse);\n    \n    parsedItems.push({\n      json: {\n        title: $node[\"RSS Feed Trigger\"].json.title,\n        link: $node[\"RSS Feed Trigger\"].json.link,\n        pubDate: $node[\"RSS Feed Trigger\"].json.pubDate,\n        content: $node[\"RSS Feed Trigger\"].json['content:encoded'],\n        quality_score: 5,\n        relevance_score: 5,\n        key_topics: \"Parse Error\",\n        summary: \"AI response could not be parsed: \" + error.message,\n        content_angle: \"Manual review needed\",\n        action: \"REVIEW\"\n      }\n    });\n  }\n}\n\nreturn parsedItems;"},"id":"4f7780f2-329a-431b-a1ba-a238bb4883c3","name":"Code","type":"n8n-nodes-base.code","position":[-352,384],"typeVersion":2},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}"},"id":"fb1483c0-6856-4f15-9bbe-72c1ed975af1","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-576,576],"typeVersion":1.3},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"id":"c0015ef9-1edb-4120-8c08-1894acd9f884","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[128,288],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"zTUp3nm8E2hEL6BR","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Parse content creation AI response\nconst items = $input.all();\nconst contentItems = [];\n\nfor (const item of items) {\n  try {\n    const rawResponse = item.json.output;\n    const cleanedResponse = rawResponse.replace(/\\\\\\\\n/g, '').replace(/\\\\\\\\/g, '');\n    const contentData = JSON.parse(cleanedResponse);\n\n    // Get the original article data\n    const originalData = $node[\"Code\"].json; // Reference our enhanced parsing node\n\n    contentItems.push({\n      json: {\n        // Original article info\n        title: originalData.title,\n        link: originalData.link,\n        quality_score: originalData.quality_score,\n        relevance_score: originalData.relevance_score,\n        summary: originalData.summary,\n\n        // Generated content\n        twitter_thread: contentData.twitter || [],\n        linkedin_post: contentData.linkedin_post || \"Content generation failed\",\n        content_ready: contentData.content_ready || false,\n\n        // Metadata\n        created_at: new Date().toISOString(),\n        platform_ready: true\n      }\n    });\n\n  } catch (error) {\n    // Handle parsing errors\n    contentItems.push({\n      json: {\n        title: $node[\"Code\"].json.title,\n        link: $node[\"Code\"].json.link,\n        twitter_thread: [\"Content generation failed\"],\n        linkedin_post: \"Content generation failed: \" + error.message,\n        content_ready: false,\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn contentItems;\n"},"id":"a3f35687-c89b-493d-a821-b066e1bd4603","name":"Code1","type":"n8n-nodes-base.code","position":[400,112],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","link":"={{ $json.link }}","quality_score":"={{ $json.quality_score }}","relevance_score":"={{ $json.relevance_score }}","summary":"={{ $json.summary }}","twitter_thread":"={{ $json.twitter_thread }}","linkedin_post":"={{ $json.linkedin_post }}","content_ready":"={{ $json.content_ready }}","created_at":"={{ $json.created_at }}","platform_ready":"={{ $json.platform_ready }}","published_for_x":"FALSE","published_for_linkedin":"FALSE"},"matchingColumns":[],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"relevance_score","displayName":"relevance_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitter_thread","displayName":"twitter_thread","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_post","displayName":"linkedin_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content_ready","displayName":"content_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"platform_ready","displayName":"platform_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"published_for_x","displayName":"published_for_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"published_for_linkedin","displayName":"published_for_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"3e3adad8-ec63-4713-9a3e-ae09947e35f2","name":"Store Content","type":"n8n-nodes-base.googleSheets","position":[624,112],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"list","value":1806686957,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qlgo9kKDnD6j7GZ6AhKD3EVbFyQu6MfGNEsNCz9lizg/edit#gid=1806686957","cachedResultName":"For Review"},"columns":{"value":{"Link":"={{ $json.link }}","Title":"={{ $json.title }}","Summary":"={{ $json.summary }}","Pub Date":"={{ $json.pubDate }}","Content Angle":"={{ $json.content_angle }}","Quality Score":"={{ $json.quality_score }}","Relevance Score":"={{ $json.relevance_score }}"},"schema":[{"id":"Title","type":"string","display":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Link","type":"string","display":true,"required":false,"displayName":"Link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Pub Date","type":"string","display":true,"required":false,"displayName":"Pub Date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Quality Score","type":"string","display":true,"required":false,"displayName":"Quality Score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Relevance Score","type":"string","display":true,"required":false,"displayName":"Relevance Score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Summary","type":"string","display":true,"required":false,"displayName":"Summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Content Angle","type":"string","display":true,"required":false,"displayName":"Content Angle","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Reviewer","type":"string","display":true,"required":false,"displayName":"Reviewer","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Notes","type":"string","display":true,"required":false,"displayName":"Notes","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"31c49b6d-8f61-4ea9-b0b1-a3e6ee2c0d47","name":"New for Review","type":"n8n-nodes-base.googleSheets","position":[256,448],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1dNLv9xtTH0TSgs8MNmSCB7yZwgPmimXCPT6OngYWZmo","mode":"list","cachedResultName":"Tech Archive","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dNLv9xtTH0TSgs8MNmSCB7yZwgPmimXCPT6OngYWZmo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dNLv9xtTH0TSgs8MNmSCB7yZwgPmimXCPT6OngYWZmo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","link":"={{ $json.link }}","pubDate":"={{ $json.pubDate }}","quality_score":"={{ $json.content }}","relevance_score":"={{ $json.relevance_score }}","key_topics":"={{ $json.key_topics }}","summary":"={{ $json.summary }}","content_angle":"={{ $json.content_angle }}","action":"={{ $json.action }}"},"matchingColumns":[],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pubDate","displayName":"pubDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"relevance_score","displayName":"relevance_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"key_topics","displayName":"key_topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content_angle","displayName":"content_angle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"facb4fa5-9a14-45b2-b54d-6f88e62c779e","name":"Archive","type":"n8n-nodes-base.googleSheets","position":[256,608],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Create social media content for this article:\n\nTitle: {{ $('Quality Filter').item.json.title }}\nSummary: {{ $('Quality Filter').item.json.summary }}\nSuggested Angle: {{ $('Quality Filter').item.json.content_angle }}\nLink: {{ $('Quality Filter').item.json.link }}\n\nArticle scored {{ $('Quality Filter').item.json.quality_score }}/10 for quality and {{ $('Quality Filter').item.json.relevance_score }}/10 for relevance.\n","options":{"systemMessage":"={{ $json.content }}"}},"id":"1ef047b7-a3af-4270-82db-6b57f7215b04","name":"Content AI","type":"@n8n/n8n-nodes-langchain.agent","position":[128,128],"typeVersion":2.2},{"parameters":{"promptType":"define","text":"=Analyze this article: {{ $('RSS Feed Trigger').item.json.title }} - {{ $('RSS Feed Trigger').item.json['content:encoded'] }}","options":{"systemMessage":"={{ $json.content }}"}},"id":"015e816f-fe52-4406-b790-9552ebc1932d","name":"Scoring AI","type":"@n8n/n8n-nodes-langchain.agent","position":[-688,384],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2588090c-6a4a-4609-a8f8-1c7e3cbdda12","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.quality_score }}","rightValue":4}]},"options":{}},"id":"f76a6d9c-fd37-4f94-9db8-ee5aede6a738","name":"Quality Filter","type":"n8n-nodes-base.if","position":[-128,384],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c488b7fd-18a5-432d-af06-7a9748db4778","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $json.quality_score }}","rightValue":5}]},"options":{}},"id":"b6074e14-2bd6-4f60-8a15-05d8b6885eb6","name":"Quality Filter 2","type":"n8n-nodes-base.if","position":[32,560],"typeVersion":2.2},{"parameters":{"content":"**Automated Content Curation & Creation**\n\n**How it works:**\n1.  **Fetch:** Reads new articles from an RSS feed.\n2.  **Analyze & Score:** An AI agent evaluates each article for quality and relevance.\n3.  **Route:**\n    *   **High-Quality:** Automatically generates a Twitter thread and a LinkedIn post. The content is then stored in a Google Sheet and published.\n    *   **Medium-Quality:** Adds the article to a Google Sheet for manual review.\n    *   **Low-Quality:** Archives the article link for reference.\n4.  **Publish:** Posts the generated content to Twitter, LinkedIn, and Threads.\n\n**Setup:**\n*   **RSS Feed:** Configure the `RSS Feed Trigger` with your desired news source.\n*   **OpenAI:** Add your OpenAI API credentials to the `OpenAI Chat Model` nodes.\n*   **Google Sheets:** Authenticate your Google account in the `Store Content`, `New for Review`, and `Archive` nodes. Update the Sheet IDs and names.\n*   **Upload Post (Social Media Publishing):**\n    1.  **Account:** Go to `https://app.upload-post.com`, create an account, and connect your social media profiles (X/Twitter, LinkedIn, Threads, etc.).\n    2.  **API Token:** In your Upload-Post dashboard, generate an API token.\n    3.  **n8n Credentials:** In the `Upload to Twitter,Linkedin and Threads` node, click on \"Credential\" and select \"Create New\". Paste the API token you generated in the previous step.\n    4.  **LinkedIn Page ID (Optional):** If you want to post to a company page on LinkedIn, find your Page ID (e.g., `urn:li:organization:12345678`) and enter it in the `Target Linkedin Page Id` field. Otherwise, it will post to your personal profile.","height":1008,"width":320},"id":"eb5d3e30-4bf7-4c27-b937-9711bb06cdef","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-2016,32],"typeVersion":1},{"parameters":{"text":"={{ $json.twitter_thread }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1136,112],"id":"5bc45ccd-38be-4c1c-bd1f-26bc9fd79c59","name":"Create Tweet","credentials":{"twitterOAuth2Api":{"id":"grBbfzVNxs17JfWG","name":"X account"}}},{"parameters":{"person":"9AzW9AXqqk","text":"={{ $json.linkedin_post }}","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1184,368],"id":"c3819c66-9761-477a-8b85-8fb58e71a636","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"Q3lxTYl1n1naRZpQ","name":"LinkedIn account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"link":"={{ $('Filter').item.json.link }}","published_for_x":"TRUE"},"matchingColumns":["link"],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"relevance_score","displayName":"relevance_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"twitter_thread","displayName":"twitter_thread","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post","displayName":"linkedin_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content_ready","displayName":"content_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"platform_ready","displayName":"platform_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"published_for_x","displayName":"published_for_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"published_for_linkedin","displayName":"published_for_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1328,112],"id":"4c33adbc-61f4-44f3-8b66-a5ea4b235e63","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8f0a5191-a2e9-4b2e-b2ee-736f19f30d3b","leftValue":"={{ $json.published_for_x }}","rightValue":"FALSE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[912,112],"id":"878684f7-0ca7-4628-bf73-aa81aa9b0406","name":"Filter"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1ZcurkRJK8NSC0tSXCwmPW_lzm4Ic4v8jO_EFxNTsrfY/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-976,384],"id":"1d9c0fa1-67ff-426d-acbe-b4810411547e","name":"Analyze and Score prompt","credentials":{"googleDocsOAuth2Api":{"id":"p9mRsRBCqE7MToqV","name":"Google Docs account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1xIKDGFJGo9AB0Q-zeZ2sMI-n-swBosJ2LARi7JWLCnc/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-16,192],"id":"06f8b2ac-fadf-43f6-93cf-24ba9db538c9","name":"Post Creator prompt","credentials":{"googleDocsOAuth2Api":{"id":"p9mRsRBCqE7MToqV","name":"Google Docs account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1616,576],"id":"bb437848-66dd-4f75-b5d9-cae09d5737ba","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"link","field2":"link"}]},"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[-1360,352],"id":"1a3ee4d4-09ac-45df-805a-88cb03c73e57","name":"Compare Datasets"}],"connections":{"Code":{"main":[[{"node":"Quality Filter","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Store Content","type":"main","index":0}]]},"Content AI":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Scoring AI":{"main":[[{"node":"Code","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Scoring AI","type":"ai_memory","index":0}]]},"Quality Filter":{"main":[[{"node":"Post Creator prompt","type":"main","index":0}],[{"node":"Quality Filter 2","type":"main","index":0}]]},"Quality Filter 2":{"main":[[{"node":"New for Review","type":"main","index":0}],[{"node":"Archive","type":"main","index":0}]]},"RSS Feed Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Compare Datasets","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Scoring AI","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Content AI","type":"ai_languageModel","index":0}]]},"Store Content":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Create Tweet":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Create Tweet","type":"main","index":0}]]},"Analyze and Score prompt":{"main":[[{"node":"Scoring AI","type":"main","index":0}]]},"Post Creator prompt":{"main":[[{"node":"Content AI","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Compare Datasets":{"main":[[{"node":"Analyze and Score prompt","type":"main","index":0}]]}},"authors":"David Martinez Sepulveda","name":"Version f53fbce0","description":"","autosaved":true},"tags":[]}