workflows/LinkedIn News Resume Post publisher.json
{"updatedAt":"2026-02-13T11:01:25.603Z","createdAt":"2026-02-12T08:34:10.604Z","id":"x_Ketj569bE12y_PLnCye","name":"LinkedIn News Resume Post publisher","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":8,"triggerAtMinute":22}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"5032786c-9b22-4d26-9acc-f686f400f742","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"published_for_linkedin","lookupValue":"false"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[256,0],"id":"12c11c7d-c991-437c-b445-9376afbe1f05","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8a330734-ef42-4600-ba87-81e80131877a","name":"linkedin_post","value":"={{ $json.linkedin_post }}","type":"string"},{"id":"d84ab551-017d-4aa3-9e1d-3dad4164652b","name":"link","value":"={{ $json.link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,0],"id":"264937db-7656-467a-9255-3e9870a35491","name":"Edit Fields"},{"parameters":{"operation":"get","documentURL":"1QepMdj7MxqCHvyNM7Ds855zxgxjlcFh_DjMZP3H7dgo"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1200,0],"id":"85708021-38db-4d4b-803f-33fa075fb231","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"p9mRsRBCqE7MToqV","name":"Google Docs account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}{{ $('Code in JavaScript').item.json.noticias }}","options":{"systemMessage":"Actúa como un Social Media Manager experto en tecnología e IA, con un tono ingenioso, fresco y ligeramente sarcástico (estilo \"tech-savvy\"). Tu objetivo es resumir noticias de forma que enganchen a una audiencia profesional en LinkedIn que busca estar al día sin aburrirse."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1456,0],"id":"a8a91fd6-713a-4e19-bb84-b4cc1441cf63","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1280,240],"id":"b47130d6-4024-495f-8b56-592dacee1ed2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zTUp3nm8E2hEL6BR","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Este código agrupa todos los ítems de entrada en un solo campo llamado 'noticias'\nconst items = $input.all();\n\n// Formateamos cada objeto en un string legible para el modelo\nconst noticiasFormateadas = items.map(item => {\n  const data = item.json;\n  return `RESUMEN: ${data.linkedin_post} | LINK: ${data.link}`;\n}).join('\\n---\\n'); // Separamos cada noticia con una línea\n\n// Devolvemos un único objeto que contiene el string final\nreturn {\n  noticias: noticiasFormateadas\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,0],"id":"93588c25-b5bd-435c-a2cb-238a03206c92","name":"Code in JavaScript"},{"parameters":{"person":"9AzW9AXqqk","text":"={{ $('AI Agent').item.json.output }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[2048,0],"id":"215c0766-fd29-4126-b894-408126138a88","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"Q3lxTYl1n1naRZpQ","name":"LinkedIn account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"Crea una imagen visualmente atractiva y moderna que represente la convergencia de la tecnología y la inteligencia artificial en el día a día.\n\n**Elementos a incluir (idealmente fusionados):**\n-   **Robótica/IA:** Pequeños elementos sutiles que sugieran inteligencia artificial o automatización (ej. un microchip brillante, un ojo robótico estilizado, un holograma abstracto).\n-   **Mundo Digital:** Líneas de código abstractas, circuitos luminosos, o una red neuronal estilizada que se difunde por la imagen.\n-   **Impacto Humano:** Una silueta humana abstracta o una mano interactuando con una interfaz futurista (no es necesario que sea muy explícito, puede ser una sugerencia).\n-   **Noticias/Información:** Elementos gráficos que sugieran flujo de datos o información (gráficos abstractos, ondas de datos).\n\n**Estilo y Tono:**\n-   **Estilo:** Futurista, tecnológico, minimalista, con un toque de arte digital.\n-   **Paleta de Colores:** Predominan los azules eléctricos, morados, cianes y toques de blanco brillante o dorado/naranja para los puntos focales. Evita colores muy cálidos o saturados.\n-   **Iluminación:** Dramática, con brillos y reflejos que enfaticen los elementos tecnológicos.\n-   **Composición:** Dinámica pero equilibrada, no recargada. El foco debe ser la interacción entre la tecnología y el conocimiento.\n\n**Evitar:**\n-   Imágenes demasiado literales de un periódico o una pantalla de noticias.\n-   Robots antropomórficos explícitos (a menos que sean muy abstractos).\n-   Elementos que parezcan anticuados o poco futuristas.\n\n**Objetivo:** La imagen debe evocar curiosidad, innovación y el rápido avance de la tecnología. Debe ser adecuada para un post de LinkedIn que resume noticias de IA y tecnología.","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1824,0],"id":"03126fbe-9287-435b-b0c1-9866c81a4282","name":"Generate an image","credentials":{"openAiApi":{"id":"zTUp3nm8E2hEL6BR","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"link":"={{ $json.link }}","published_for_linkedin":"TRUE"},"matchingColumns":["link"],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"relevance_score","displayName":"relevance_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"twitter_thread","displayName":"twitter_thread","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post","displayName":"linkedin_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content_ready","displayName":"content_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"platform_ready","displayName":"platform_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"published_for_x","displayName":"published_for_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"published_for_linkedin","displayName":"published_for_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2464,0],"id":"8dff9148-169f-4128-8ce4-114d31131e76","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"836820b6-62df-4960-a83a-e326fbad34b8","leftValue":"={{ $json.published_for_linkedin }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[432,0],"id":"d9307dc6-0971-41e8-b323-7c4ac27eeac3","name":"Filter"},{"parameters":{"jsCode":"// This extracts just the data (json) from the original rows \n// and turns them into fresh individual items for the next node.\nreturn $('Limit').all().map(item => item.json);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,0],"id":"573cf2ad-a705-49ce-b83c-f1f91f98b1b0","name":"Code in JavaScript1"},{"parameters":{"maxItems":4},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[640,0],"id":"0ed73a33-b7a0-4697-99e3-8db60b7d8063","name":"Limit"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Create a post":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[]]},"Limit":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"308e4498-cd7d-4e6c-83b0-f2a4ce3d06ec","activeVersionId":"64e0574e-47ff-42b1-99f1-3eb3b0a43226","triggerCount":1,"shared":[{"updatedAt":"2026-02-12T08:34:10.606Z","createdAt":"2026-02-12T08:34:10.606Z","role":"workflow:owner","workflowId":"x_Ketj569bE12y_PLnCye","projectId":"48ahaqGoMAU5KdE0"}],"activeVersion":{"updatedAt":"2026-02-12T08:34:42.000Z","createdAt":"2026-02-12T08:34:25.024Z","versionId":"64e0574e-47ff-42b1-99f1-3eb3b0a43226","workflowId":"x_Ketj569bE12y_PLnCye","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"5032786c-9b22-4d26-9acc-f686f400f742","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"published_for_linkedin","lookupValue":"false"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[256,0],"id":"12c11c7d-c991-437c-b445-9376afbe1f05","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8a330734-ef42-4600-ba87-81e80131877a","name":"linkedin_post","value":"={{ $json.linkedin_post }}","type":"string"},{"id":"d84ab551-017d-4aa3-9e1d-3dad4164652b","name":"link","value":"={{ $json.link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,0],"id":"264937db-7656-467a-9255-3e9870a35491","name":"Edit Fields"},{"parameters":{"operation":"get","documentURL":"1QepMdj7MxqCHvyNM7Ds855zxgxjlcFh_DjMZP3H7dgo"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[992,0],"id":"85708021-38db-4d4b-803f-33fa075fb231","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"p9mRsRBCqE7MToqV","name":"Google Docs account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}{{ $('Code in JavaScript').item.json.noticias }}","options":{"systemMessage":"Actúa como un Social Media Manager experto en tecnología e IA, con un tono ingenioso, fresco y ligeramente sarcástico (estilo \"tech-savvy\"). Tu objetivo es resumir noticias de forma que enganchen a una audiencia profesional en LinkedIn que busca estar al día sin aburrirse."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1248,0],"id":"a8a91fd6-713a-4e19-bb84-b4cc1441cf63","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1072,240],"id":"b47130d6-4024-495f-8b56-592dacee1ed2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zTUp3nm8E2hEL6BR","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Este código agrupa todos los ítems de entrada en un solo campo llamado 'noticias'\nconst items = $input.all();\n\n// Formateamos cada objeto en un string legible para el modelo\nconst noticiasFormateadas = items.map(item => {\n  const data = item.json;\n  return `RESUMEN: ${data.linkedin_post} | LINK: ${data.link}`;\n}).join('\\n---\\n'); // Separamos cada noticia con una línea\n\n// Devolvemos un único objeto que contiene el string final\nreturn {\n  noticias: noticiasFormateadas\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,0],"id":"93588c25-b5bd-435c-a2cb-238a03206c92","name":"Code in JavaScript"},{"parameters":{"person":"9AzW9AXqqk","text":"={{ $('AI Agent').item.json.output }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1840,0],"id":"215c0766-fd29-4126-b894-408126138a88","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"Q3lxTYl1n1naRZpQ","name":"LinkedIn account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"Crea una imagen visualmente atractiva y moderna que represente la convergencia de la tecnología y la inteligencia artificial en el día a día.\n\n**Elementos a incluir (idealmente fusionados):**\n-   **Robótica/IA:** Pequeños elementos sutiles que sugieran inteligencia artificial o automatización (ej. un microchip brillante, un ojo robótico estilizado, un holograma abstracto).\n-   **Mundo Digital:** Líneas de código abstractas, circuitos luminosos, o una red neuronal estilizada que se difunde por la imagen.\n-   **Impacto Humano:** Una silueta humana abstracta o una mano interactuando con una interfaz futurista (no es necesario que sea muy explícito, puede ser una sugerencia).\n-   **Noticias/Información:** Elementos gráficos que sugieran flujo de datos o información (gráficos abstractos, ondas de datos).\n\n**Estilo y Tono:**\n-   **Estilo:** Futurista, tecnológico, minimalista, con un toque de arte digital.\n-   **Paleta de Colores:** Predominan los azules eléctricos, morados, cianes y toques de blanco brillante o dorado/naranja para los puntos focales. Evita colores muy cálidos o saturados.\n-   **Iluminación:** Dramática, con brillos y reflejos que enfaticen los elementos tecnológicos.\n-   **Composición:** Dinámica pero equilibrada, no recargada. El foco debe ser la interacción entre la tecnología y el conocimiento.\n\n**Evitar:**\n-   Imágenes demasiado literales de un periódico o una pantalla de noticias.\n-   Robots antropomórficos explícitos (a menos que sean muy abstractos).\n-   Elementos que parezcan anticuados o poco futuristas.\n\n**Objetivo:** La imagen debe evocar curiosidad, innovación y el rápido avance de la tecnología. Debe ser adecuada para un post de LinkedIn que resume noticias de IA y tecnología.","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1616,0],"id":"03126fbe-9287-435b-b0c1-9866c81a4282","name":"Generate an image","credentials":{"openAiApi":{"id":"zTUp3nm8E2hEL6BR","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y","mode":"list","cachedResultName":"Tech Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DgObLH1noBZ8xrzsRUVPgNChZbehQ39u8HqZdAlJ10Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"link":"={{ $json.link }}","published_for_linkedin":"TRUE"},"matchingColumns":["link"],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"quality_score","displayName":"quality_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"relevance_score","displayName":"relevance_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"twitter_thread","displayName":"twitter_thread","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_post","displayName":"linkedin_post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content_ready","displayName":"content_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"platform_ready","displayName":"platform_ready","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"published_for_x","displayName":"published_for_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"published_for_linkedin","displayName":"published_for_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2256,0],"id":"8dff9148-169f-4128-8ce4-114d31131e76","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"836820b6-62df-4960-a83a-e326fbad34b8","leftValue":"={{ $json.published_for_linkedin }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[432,0],"id":"d9307dc6-0971-41e8-b323-7c4ac27eeac3","name":"Filter"},{"parameters":{"jsCode":"// This extracts just the data (json) from the original rows \n// and turns them into fresh individual items for the next node.\nreturn $('Get row(s) in sheet').all().map(item => item.json);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,0],"id":"573cf2ad-a705-49ce-b83c-f1f91f98b1b0","name":"Code in JavaScript1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Create a post":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"authors":"David Martinez Sepulveda","name":"Version 64e0574e","description":"","autosaved":true},"tags":[]}