workflows/My workflow 2.json
{"updatedAt":"2026-02-13T16:39:37.867Z","createdAt":"2026-02-13T15:59:22.601Z","id":"JfDoiaEUOmCflqL1JWq-x","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-560,-128],"id":"2b9b0cce-a347-423d-8aca-19605b106d4e","name":"Schedule Trigger"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"DavidMS","mode":"list","cachedResultName":"DavidMS","cachedResultUrl":"https://github.com/DavidMS"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/DavidMS/n8n-workflows"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"Creating initial workflows"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[176,-128],"id":"daeec3d8-49f7-416c-b9a7-f96b16bd1e4b","name":"Create a file","webhookId":"4427e5eb-75c3-4783-88a3-e053e28265f6","credentials":{"githubApi":{"id":"Z8IWznevpExmOn42","name":"GitHub account"}}},{"parameters":{"url":"https://n8n.davidmarse.com/api/v1/workflows","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3MjNmOTBjYS03ZjQ1LTRiODYtYmI5Ni0yNDI1OTlkM2ZkZGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzcwOTk4MzIxLCJleHAiOjE3NzM1MjkyMDB9.QUw602Ul7Fb07LsRf5UAMI1BZksNPiYdCPf4kZJSz0g"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-368,-128],"id":"1516c5a1-646a-492c-97e4-313d684dfb84","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-96,-128],"id":"9bee9356-74fd-49ca-acdd-d115a3e67ec0","name":"Split Out"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"97b3a1be-237f-47ea-8303-30a9bd7e9bbb","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-13T15:59:22.604Z","createdAt":"2026-02-13T15:59:22.604Z","role":"workflow:owner","workflowId":"JfDoiaEUOmCflqL1JWq-x","projectId":"48ahaqGoMAU5KdE0"}],"activeVersion":null,"tags":[]}