workflows/Save Costs In RAG Workflows using the Q&A Tool With Multiple Models.json
{"updatedAt":"2026-02-12T18:29:13.834Z","createdAt":"2026-02-12T10:24:53.423Z","id":"KAFX36au1FIrXpmMx5jGu","name":"Save Costs In RAG Workflows using the Q&A Tool With Multiple Models","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"26d63e24-2592-41f9-9b4b-edab81e99f21","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[2192,688],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"zTUp3nm8E2hEL6BR","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Encuentra la cita para la fecha {{ $json.formattedDate }} en el libro Diario para estoicos","options":{"systemMessage":"=Eres un asistente experto con acceso a una biblioteca de libros en formato RAG. Tu misión es encontrar información dentro de un libro indicado en user prompt. \n\n\nBúsqueda Quirúrgica: Utiliza la herramienta Busqueda en libro enviando una consulta que busque en el libro indicado el texto que representa una fecha en el user prompt. Ejemplo de búsqueda: 'Encuentra la cita para la fecha 1 de enero en el libro Diario para estoicos'. En este caso deberías buscar el texto 1 de enero (o la fecha que se haya indicado en el user prompt) y extraer la información asociada del libro indicado.\n\nGestión de Errores: Si la herramienta no devuelve un resultado exacto para esa fecha, informa al usuario de cuál puede ser el motivo de que no se haya encontrado. \n\nRestricción: No inventes citas. Si no la encuentras en la base de datos, admítelo\n\nFormato: Devuelve la información en un json con el siguiente formato. En el campo procesado escribe true si se ha encontrado la reflexión para ese dia y falso en caso contrario\n{\n  \"titulo\": \"titulo de la cita\",\n  \"cita\": \"cita\",\n  \"autor\": \"autor\",\n  \"comentario\": \"comentario del libro\",\n  \"procesado\": \"true\" o \"false\"\n}"}},"id":"0039537b-558c-4fe8-9716-f8aa13676f4a","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2128,144],"typeVersion":2},{"parameters":{"content":"### 🐕 2. Retriever Flow","height":520,"width":820,"color":7},"id":"3d1b3f5a-bc35-4739-a618-9c85820d39a0","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1632,240],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"id":"d43cf585-4192-4f53-9532-4677923289ba","name":"Expensive model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2128,416],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"zTUp3nm8E2hEL6BR","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.row_number }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2224,304],"id":"41626e53-1f47-4ac3-a72a-501bee57ce4f","name":"Simple Memory"},{"parameters":{"jsCode":"// Nodo Code (Run Once per Item)\nconst rawOutput = $json.output;\n// Intentamos limpiar posibles etiquetas de markdown si el agente las pone\nconst cleanOutput = rawOutput.replace(/```json|```/g, \"\").trim();\n\ntry {\n  return JSON.parse(cleanOutput);\n} catch (e) {\n  return { error: \"No se pudo parsear el JSON\", raw: rawOutput };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,128],"id":"b62eb2f0-c82d-4754-908b-36cca4fec352","name":"Code in JavaScript"},{"parameters":{"documentId":{"__rl":true,"value":"1b8UsEi75IKN_ln-wfzt1bjW8AuCo-IDD1jPzJ0OZXZE","mode":"list","cachedResultName":"Citas Diario para estoicos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1b8UsEi75IKN_ln-wfzt1bjW8AuCo-IDD1jPzJ0OZXZE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1b8UsEi75IKN_ln-wfzt1bjW8AuCo-IDD1jPzJ0OZXZE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1264,288],"id":"77b8a25a-b21c-4502-86e3-f8f552de218d","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Loop through every item passing through the node\nfor (const item of $input.all()) {\n  const dateString = item.json.Fecha; // Change 'myDate' to your actual field name\n\n  if (dateString) {\n    // 1. Parse the DD/MM/YYYY format\n    const [day, month, year] = dateString.split('/');\n    \n    // 2. Create the date object (Months are 0-indexed in JS, so January is 0)\n    const date = new Date(year, month - 1, day);\n\n    // 3. Format to Spanish\n    let formatted = date.toLocaleDateString('es-ES', {\n      day: 'numeric',\n      month: 'long'\n    });\n\n    // Add the new value back to the item\n    item.json.formattedDate = formatted;\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,288],"id":"64aba9d8-45f3-495c-96fe-d630b88246a2","name":"Code in JavaScript1"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Esta herramienta es un motor de búsqueda semántica para una biblioteca de libros. Úsala para recuperar fragmentos exactos, citas o lecciones específicas. Para obtener los mejores resultados, tu consulta (query) DEBE incluir siempre el título del libro seguido de la fecha o el tema específico. Ejemplo: 'Diario para estoicos 12 de febrero' o 'Diario para estoicos autodisciplina'. Si el usuario pide una cita diaria, extrae primero la fecha actual y combínala con el título del libro en la búsqueda","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[2192,528],"id":"a1655667-ed49-433e-b695-1b3b297f6335","name":"Busqueda en Libro","credentials":{"supabaseApi":{"id":"I9ZOB4XCckxSr3VY","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1040,288],"id":"af1c381f-f7cc-4697-abc9-81565b9c5b61","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1b8UsEi75IKN_ln-wfzt1bjW8AuCo-IDD1jPzJ0OZXZE","mode":"list","cachedResultName":"Citas Diario para estoicos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1b8UsEi75IKN_ln-wfzt1bjW8AuCo-IDD1jPzJ0OZXZE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1b8UsEi75IKN_ln-wfzt1bjW8AuCo-IDD1jPzJ0OZXZE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $('Get row(s) in sheet').item.json.Fecha }}","Título":"={{ $json.titulo }}","Cita":"={{ $json.cita }}","Autor":"={{ $json.autor }}","Reflexión":"={{ $json.comentario }}","Procesado":"={{ $json.procesado }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Título","displayName":"Título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cita","displayName":"Cita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Autor","displayName":"Autor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reflexión","displayName":"Reflexión","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Procesado","displayName":"Procesado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2720,-128],"id":"44fb4d1d-04b5-4c2e-b494-341b0bd74041","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bYhGJPhpO5XlpL9T","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1872,128],"id":"1a12baaf-20c9-49ba-9216-767ab6df74aa","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"14da0e68-b96d-47c9-8d29-aa9976f290d2","leftValue":"={{ $json.Procesado }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[1472,288],"id":"8286e36e-7465-42a0-ba77-7af04c7eb68f","name":"Filter"}],"connections":{"Expensive model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Busqueda en Libro","type":"ai_embedding","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Busqueda en Libro":{"ai_vectorStore":[[]],"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateId":"5011","templateCredsSetupCompleted":true},"pinData":{},"versionId":"5657effd-172f-464d-ab7c-d03a47d9f607","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-12T10:24:53.425Z","createdAt":"2026-02-12T10:24:53.425Z","role":"workflow:owner","workflowId":"KAFX36au1FIrXpmMx5jGu","projectId":"48ahaqGoMAU5KdE0"}],"activeVersion":null,"tags":[]}