workflows/Saving Workflows in Github.json
{
  "updatedAt": "2026-02-13T19:19:58.071Z",
  "createdAt": "2026-02-13T15:59:22.601Z",
  "id": "JfDoiaEUOmCflqL1JWq-x",
  "name": "Saving Workflows in Github",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1184,
        -288
      ],
      "id": "2b9b0cce-a347-423d-8aca-19605b106d4e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "DavidMS",
          "mode": "list",
          "cachedResultName": "DavidMS",
          "cachedResultUrl": "https://github.com/DavidMS"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/DavidMS/n8n-workflows"
        },
        "filePath": "=workflows/{{ $('Split Out').item.json.name }}.json",
        "fileContent": "={{ JSON.stringify($('Split Out').item.json, null, 2) }}",
        "commitMessage": "Creating workflow {{ $json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "daeec3d8-49f7-416c-b9a7-f96b16bd1e4b",
      "name": "Create a file",
      "webhookId": "4427e5eb-75c3-4783-88a3-e053e28265f6",
      "credentials": {
        "githubApi": {
          "id": "Z8IWznevpExmOn42",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://n8n.davidmarse.com/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3MjNmOTBjYS03ZjQ1LTRiODYtYmI5Ni0yNDI1OTlkM2ZkZGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzcwOTk4MzIxLCJleHAiOjE3NzM1MjkyMDB9.QUw602Ul7Fb07LsRf5UAMI1BZksNPiYdCPf4kZJSz0g"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -768,
        -128
      ],
      "id": "1516c5a1-646a-492c-97e4-313d684dfb84",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -544,
        -128
      ],
      "id": "9bee9356-74fd-49ca-acdd-d115a3e67ec0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "DavidMS",
          "mode": "list",
          "cachedResultName": "DavidMS",
          "cachedResultUrl": "https://github.com/DavidMS"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/DavidMS/n8n-workflows"
        },
        "filePath": "=workflows/{{ $json.name }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -48,
        -128
      ],
      "id": "5db7014e-77ee-4224-82b8-b1b2b47f9b3c",
      "name": "Get a file",
      "webhookId": "b4d76513-1add-4b5e-bb22-242607ddd2e8",
      "alwaysOutputData": false,
      "credentials": {
        "githubApi": {
          "id": "Z8IWznevpExmOn42",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04cdfb73-ecaf-42f9-9e27-2e2aa516cb5f",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "d203dd0f-de4b-462a-bc69-ff6c09aff611",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        -128
      ],
      "id": "17b03893-0bf4-4cda-a06c-7ac477139e9d",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "DavidMS",
          "mode": "list",
          "cachedResultName": "DavidMS",
          "cachedResultUrl": "https://github.com/DavidMS"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/DavidMS/n8n-workflows"
        },
        "filePath": "=workflows/{{ $('Get a file').item.json.name }}",
        "fileContent": "={{ JSON.stringify($('Split Out').item.json, null, 2)}}",
        "commitMessage": "=Updating workflow {{ $('Get a file').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        448,
        -208
      ],
      "id": "d4964c51-0a24-4657-a1ce-e09b5618f2a7",
      "name": "Edit a file",
      "webhookId": "014b6f5a-98a5-4957-bf35-c3ba234ed18b",
      "credentials": {
        "githubApi": {
          "id": "Z8IWznevpExmOn42",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "DavidMS",
          "mode": "list",
          "cachedResultName": "DavidMS",
          "cachedResultUrl": "https://github.com/DavidMS"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/DavidMS/n8n-workflows"
        },
        "filePath": "workflows/"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -768,
        -432
      ],
      "id": "c8d48b24-3173-4de4-8432-c2309f355e39",
      "name": "List files",
      "webhookId": "2cbb3229-0ce1-48bf-96db-ebffa5bb7f3d",
      "credentials": {
        "githubApi": {
          "id": "Z8IWznevpExmOn42",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "={{ $json.name }}",
              "field2": "={{ $json.name }}.json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -224,
        -432
      ],
      "id": "c3d095bd-2011-4c37-8088-94a68e7c48a3",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "DavidMS",
          "mode": "list",
          "cachedResultName": "DavidMS",
          "cachedResultUrl": "https://github.com/DavidMS"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/DavidMS/n8n-workflows"
        },
        "filePath": "=workflows/{{ $json.name }}",
        "commitMessage": "=Deleting  {{ $json.name }} file"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        112,
        -464
      ],
      "id": "d36e8b85-9d0d-4201-acb2-acd82779bdf6",
      "name": "Delete a file",
      "webhookId": "35201fe4-692c-4560-8089-061c226d28de",
      "credentials": {
        "githubApi": {
          "id": "Z8IWznevpExmOn42",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        []
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c0c52498-5bae-407b-9dfe-35551c5e14b7",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-13T15:59:22.604Z",
      "createdAt": "2026-02-13T15:59:22.604Z",
      "role": "workflow:owner",
      "workflowId": "JfDoiaEUOmCflqL1JWq-x",
      "projectId": "48ahaqGoMAU5KdE0"
    }
  ],
  "activeVersion": null,
  "tags": []
}